<head>
<link rel="apple-touch-icon" sizes="180x180" href="favicons/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="favicons/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="favicons/favicon-16x16.png">
<link rel="manifest" href="favicons/site.webmanifest">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<style>
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
pre{
    /* background-color: #ACAB;  */
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;
} 
</style>
<body>
<pre class="center">
  ____ _____ _____ ___  
 / ___|_   _|  ___/ _ \ 
| |  _  | | | |_ | | | |
| |_| | | | |  _|| |_| |
 \____| |_| |_|   \___/ 
                        
</pre>
<a href="https://arcom.fr"><img src="arcom.gif" alt="Arcom" class="center"></a>

<pre class="center" >
* Copying of information is ethically right.
* Dissemination of information is ethically right.
* Copymixing is a sacred kind of copying, moreso than the perfect, digital copying, because it expands and enhances the existing wealth of information
* Copying or remixing information communicated by another person is seen as an act of respect and a strong expression of acceptance.
* The internet is holy.
* Code is law.
</pre>
</body>